@import "variables.sass"
@import "utilities.sass"
@import "header.sass"
@import "sale.sass"
@import "goods.sass"
@import "info.sass"
@import "footer.sass"
    
*
    margin: 0
    padding: 0
    box-sizing: border-box
    text-decoration: none
    list-style: none

html
    font-size: 62.5%
body
    font-family: 'Roboto'
    font-weight: 400
    background-color: $gray
.page-width
    max-width: 111rem
    width: 100%
    margin: 0 auto
