.second-line
    background: #FFFFFF
    &__top-block-wrapper
        padding: 2rem 0
        display: grid
        grid-template-columns: minmax(min-content, auto) min-content min-content
        column-gap: 4rem
        @include respond(tablet-s)
            grid-template: repeat(2, 1fr) / repeat(2, 1fr)
            gap: 2rem
            justify-items: center
        @include respond(mobile-m)
            grid-template: 2fr repeat(1, 1fr) / 1fr 1fr
        @include respond(mobile-ss)
            grid-template: 2fr repeat(2, 1fr) / 1fr
    &__logo
        @include respond(tablet-s)
            grid-area: 1 / 1 / -1 / 2
            justify-self: start
        @include respond(mobile-m)
            grid-area: 1 / 1 / 2 / 3
            justify-self: auto
        @include respond(mobile-ss)
            grid-area: 1 / 1 / 2 / 2
    &__phone
        display: flex
        align-items: center
    &__callback
        display: flex
        align-items: center
    &__services
        text-align: center
        grid-column: 1 / -1
        grid-row: 2 / 3
