doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")
        link(rel="icon" href="/favicon.ico" type="image/x-icon")
        link(rel="stylesheet" href="css/style.min.css")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet")
        title Beauty
    body
        header.header
            .header__wrapper
                .header__top-line.top-line
                    .page-width
                        ul.top-line__list
                            li.top-line__item
                                a.top-line__link(href='#') Доставка
                            li.top-line__item
                                a.top-line__link(href='#') Оплата
                            li.top-line__item
                                a.top-line__link(href='#') Отзывы
                            li.top-line__item
                                a.top-line__link(href='#') Вопрос - ответ
                            li.top-line__item
                                a.top-line__link(href='#') Контакты
                .header__second-line.second-line
                    .page-width
                        .second-line__top-block-wrapper
                            .second-line__logo.logo
                                .logo__img
                                span.logo__title BEAUTY
                            .second-line__phone.phone
                                span.phone__number 8 (812) 123-45-67
                            .second-line__callback
                                .button.button_type-1 Обратный звонок
                    .second-line__services.services
                        .page-width
                            ul.services__list
                                li.services__item
                                    a.services__link(href='#') Парикмахерская
                                li.services__item
                                    a.services__link(href='#') Барбершоп
                                li.services__item
                                    a.services__link(href='#') Маникюр
                                li.services__item
                                    a.services__link(href='#') Педикюр
                                li.services__item
                                    a.services__link(href='#') Массаж
                                li.services__item
                                    a.services__link(href='#') Мебель
        main
            section.sale.mb-80
                .page-width 
                    .sale__wrapper
                        .sale__offer.offer.mw-360
                            .offer__title_h1.mb-50 Супер кресло
                            .offer__description.mb-50 Текст акции всегда отражает суть, а не просто болтовню, поэтому внимательнее
                            .button.button_type-2 Подробнее
                        .sale__item-for-sale
                            img(src="./img/super_chair-s.png" srcset="img/super_chair-s.png 150w, img/super_chair-m.png 300w, img/super_chair-b.png 574w" sizes="42vw" alt="chair").sale__item-for-sale-img
            section.goods.mb-100
                .page-width 
                    .goods__wrapper
                        h2.goods__title.mb-40 Специальные предложения
                        .goods__cards-wrapper
                            .goods__card.card 
                                img(src="./img/stub.png" alt="stub chair").card__img 
                                .card__title Парикмахерское кресло «Норм» гидравлическое
                                .card__price 9 900 ₽
                                .button.button_type-3 Купить
                            .goods__card.card 
                                img(src="./img/stub.png" alt="stub chair").card__img 
                                .card__title Парикмахерское кресло «Норм» гидравлическое
                                .card__price 9 900 ₽
                                .button.button_type-3 Купить
                            .goods__card.card 
                                img(src="./img/stub.png" alt="stub chair").card__img 
                                .card__title Парикмахерское кресло «Норм» гидравлическое
                                .card__price 9 900 ₽
                                .button.button_type-3 Купить
                            .goods__card.card 
                                img(src="./img/stub.png" alt="stub chair").card__img 
                                .card__title Парикмахерское кресло «Норм» гидравлическое
                                .card__price 9 900 ₽
                                .button.button_type-3 Купить
            section.info.mb-123
                .page-width 
                    .info__wrapper 
                        .info-block
                            .offer
                                h3.offer__title_h3.mw-250.mb-25 Получайте бонусы и подарки
                                p.offer__description.mw-230.mb-25 Каждый месяц разыгрываем 10 000 рублей для наших клиентов
                                input(type="email" name="email" placeholder="Введите e-mail").input
                            .info-block__img.info-block__img_subscribe
                        .info-block                   
                            .offer
                                h3.offer__title_h3.mw-250.mb-25 Заходите к нам
                                p.offer__description.mw-141.mb-25 Более 300 магазинов по всей России
                                .button.button_type-4 Карта магазинов
                            .info-block__img.info-block__img_our-shops
        footer.footer
            .footer__first-line
                .page-width
                    .footer__first-line-wrapper
                        .footer__social-media.social-media
                            a(href="#").social-media__item-wrapper
                                .social-media__item_youtube.social-media__item
                            a(href="#").social-media__item-wrapper
                                .social-media__item_vk.social-media__item
                            a(href="#").social-media__item-wrapper
                                .social-media__item_facebook.social-media__item
                            a(href="#").social-media__item-wrapper
                                .social-media__item_instagram.social-media__item
                        p.footer__address 198555, Невский пр. 140, офис 140
                        .footer__phone.phone
                            span.phone__number 8 (812) 123-45-67
                        .footer__button.button.button_type-1 Обратный звонок
            .footer__second-line
                .page-width
                    .footer__second-line-wrapper
                        p Лучший магазин (с) 2019 Все права защищены. Интернет-магазин оборудования для салонов красоты
                        a(href="") Политика конфиденциальности

