doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")
        link(rel="icon" href="/favicon.ico" type="image/x-icon")
        link(rel="stylesheet" href="css/style.min.css")
        title Beauty
    body
        header.header
            .header__wrapper
                .header__top-line.top-line
                    .page-width
                        ul.top-line__list
                            li.top-line__item
                                a.top-line__link(href='#') Доставка
                            li.top-line__item
                                a.top-line__link(href='#') Оплата
                            li.top-line__item
                                a.top-line__link(href='#') Отзывы
                            li.top-line__item
                                a.top-line__link(href='#') Вопрос - ответ
                            li.top-line__item
                                a.top-line__link(href='#') Контакты
                .header__second-line.second-line
                    .page-width
                        .second-line__top-block-wrapper
                            .second-line__logo.logo
                                .logo__img
                                span.logo__title BEAUTY
                            .second-line__phone.phone
                                span.phone__number 8 (812) 123-45-67
                            .second-line__callback
                                .button.button_type-1 Обратный звонок
                    .second-line__services.services
                        .page-width
                            ul.services__list
                                li.services__item
                                    a.services__link(href='#') Парикмахерская
                                li.services__item
                                    a.services__link(href='#') Барбершоп
                                li.services__item
                                    a.services__link(href='#') Маникюр
                                li.services__item
                                    a.services__link(href='#') Педикюр
                                li.services__item
                                    a.services__link(href='#') Массаж
                                li.services__item
                                    a.services__link(href='#') Мебель
